.alert-card {
  width: 100%;
  border-radius: 0.3rem;
}

.alert-img-icon {
  width: 5.2vh;
  height: 5.2vh;
}
.error-alert-dark-background,
.success-alert-dark-background,
.warning-alert-dark-background,
.info-alert-dark-background {
  color: var(--font-dark-light-bg-color);
}

.error-alert-dark-background {
  background: var(--secondary-color);
}

.success-alert-dark-background {
  background: var(--primary-color);
}

.warning-alert-dark-background {
  background: var(--warning-color);
}

.info-alert-dark-background {
  background: var(--info-color);
}

.error-alert-light-background {
  border-left: 0.4rem solid var(--secondary-color);
}

.success-alert-light-background {
  border-left: 0.4rem solid var(--primary-color);
}

.warning-alert-light-background {
  border-left: 0.4rem solid var(--warning-color);
}

.info-alert-light-background {
  border-left: 0.4rem solid var(--info-color);
}

.error-alert,
.error-alert-light-background {
  background: var(--secondary-light-color);
  color: var(--secondary-color);
}

.success-alert,
.success-alert-light-background {
  background: var(--primary-light-color);
  color: var(--primary-color);
}

.warning-alert,
.warning-alert-light-background {
  background: var(--warning-light-color);
  color: var(--warning-color);
}

.info-alert,
.info-alert-light-background {
  background: var(--info-light-color);
  color: var(--info-color);
}

.alert-body {
  padding: 0.9rem;
}

.alert-body {
  display: flex;
  align-items: center;
}

.alert-title {
  padding-left: 0.9rem;
}

.alert-title {
  margin: 0;
}

.alert-close-button {
  margin-left: auto;
}

.light-theme .alert-close-img {
  background: url("../img/alert/cross.svg");
}

.dark-theme .alert-close-img {
  background: url("../img/alert/white-cross.svg");
}

.alert-close-img,
.alert-white-close-img {
  width: 2vh;
  height: 2vh;
}

@media (max-width: 414px) {
  .alert-body {
    padding: 0.6rem;
  }
  .alert-close-img,
  .alert-white-close-img {
    width: 1.3vh;
    height: 1.3vh;
  }
  .alert-img-icon {
    width: 4vh;
    height: 4vh;
  }
}

@media (max-width: 360px) {
  .alert-img-icon {
    width: 2.6vh;
    height: 2.6vh;
  }
}
