.required {
  color: var(--secondary-color);
}

.input-container {
  position: relative;
}

.input-field {
  border: 0.06rem solid var(--light-color);
  padding: 0.6rem 0.7rem;
  border-radius: 0.3rem;
  padding-left: 3.7rem;
  background: var(--white-color);
  color: var(--dark-color);
}

.input-field::placeholder {
  color: var(--grey-color);
  font-size: 1rem;
}

.input-field:focus {
  border: 0.06rem solid var(--dark-color);
  outline: none;
}
.error-input:focus {
  border: 0.06rem solid var(--secondary-color);
}

.input-img {
  padding-top: 0.3rem;
}

.input-line {
  padding: 0 0.7rem;
  margin-top: -0.1rem;
}

.inside-input-info {
  font-family: "Roboto-Regular";
}

.inside-input-info {
  display: flex;
  position: absolute;
  align-items: center;
  top: 0.25rem;
  left: 0.7rem;
  pointer-events: none;
}

.error-container {
  color: var(--secondary-color);
  margin-top: 0.3rem;
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 0.7rem;
  background: var(--light-color);
  border: none;
  border-radius: 0.3rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 2.6vh;
  width: 2.6vh;
  border-radius: 50%;
  background: var(--primary-color);
  margin-top: -0.25rem;
}

input[type="range"]:focus {
  outline: none;
}

input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: var(--grey-color);
  height: 1.875rem;
  width: 1.875rem;
  border: 1px solid var(--font-dark-light-bg-color);
  border-radius: 0.3rem;
}

input[type="checkbox"]:checked {
  background: var(--primary-color);
}

input[type="checkbox"]:hover {
  filter: brightness(90%);
}

input[type="checkbox"]:after {
  content: "";
  position: relative;
  left: 40%;
  top: 20%;
  width: 15%;
  height: 40%;
  border: solid var(--font-dark-light-bg-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

input[type="checkbox"]:checked:after {
  display: block;
}

@media (max-width: 410.25rem) {
  .input-container {
    margin: 0.3rem 0;
  }
}
