.modal-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 6;
  top:0;
  bottom: 0;
  right:0;
  left:0;
}

.modal-card {
  background: var(--white-color);
  border-radius: 5px;
  width: 400px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  overflow: hidden;
  max-height: 80vh;
  max-width: 100%;
  top:50%;
  right:auto;
  bottom:auto;
  left:50%;
}

.modal-header,
.modal-card-body,
.modal-footer {
  padding: 15px;
}

.modal-card-body {
  flex-direction: column;
  overflow: auto;
  max-height: calc(70vh - 90px);
}

.modal-header {
  border-bottom: 1px solid var(--light-color);
}
.modal-title {
  margin: 0;
  color: var(--dark-color);
}

.modal-description {
  color: var(--grey-color);
  line-height: 1.5;
  margin: 20px 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--light-color);
}
