.toast-card {
  width: 100%;
  border-radius: 0.3rem;
}

.error-toast-dark-background,
.success-toast-dark-background,
.warning-toast-dark-background,
.info-toast-dark-background {
  color: var(--font-dark-light-bg-color);
}

.error-toast-dark-background {
  background: var(--secondary-color);
}

.success-toast-dark-background {
  background: var(--primary-color);
}

.warning-toast-dark-background {
  background: var(--warning-color);
}

.info-toast-dark-background {
  background: var(--info-color);
}

.error-toast-light-background {
  border-left: 0.4rem solid var(--secondary-color);
}

.success-toast-light-background {
  border-left: 0.4rem solid var(--primary-color);
}

.warning-toast-light-background {
  border-left: 0.4rem solid var(--warning-color);
}

.info-toast-light-background {
  border-left: 0.4rem solid var(--info-color);
}

.error-toast,
.error-toast-light-background {
  background: var(--secondary-light-color);
  color: var(--secondary-color);
}

.success-toast,
.success-toast-light-background {
  background: var(--primary-light-color);
  color: var(--primary-color);
}

.warning-toast,
.warning-toast-light-background {
  background: var(--warning-light-color);
  color: var(--warning-color);
}

.info-toast,
.info-toast-light-background {
  background: var(--info-light-color);
  color: var(--info-color);
}

.toast-body {
  padding: 0.9rem;
}

.toast-body {
  display: flex;
  align-items: center;
}

.toast-title {
  padding-left: 0.9rem;
  margin: 0;
}

.toast-close-button {
  margin-left: auto;
}

.light-theme .toast-close-img {
  background: url("../img/toast/cross.svg");
}

.dark-theme .toast-close-img {
  background: url("../img/toast/white-cross.svg");
}

.toast-close-img,
.toast-white-close-img {
  width: 0.9rem;
  height: 0.9rem;
}

.toast-top,
.toast-bottom {
  position: fixed;
  right: 1.2rem;
  z-index: 5;
  width: 60vh;
  max-width: 70%;
}
.toast-top {
  top: 1.2rem;
}

.toast-bottom {
  bottom: 1.2rem;
}

@media (max-width: 414px) {
  .toast-body {
    padding: 0.6rem;
  }
  .toast-close-img,
  .toast-white-close-img {
    width: 1.9vh;
    height: 1.9vh;
  }
  .toast-img-icon {
    display: none;
  }
  .toast-title {
    padding-left: 0;
  }
  .toast-top {
    top: 0.6rem;
  }
  .toast-top,
  .toast-bottom {
    right: 0.6rem;
  }
  .toast-bottom {
    bottom: 0.6rem;
  }
}
